:root {
    --color-main: #626262;
    --color-second: #7d7d7d;
    --color-third: #b4ad9e;
    --color-hover: #03a9f4;
    --font-family: "Playfair Display", sans-serif;
    --second-family: "Ubuntu", sans-serif;
}

// $font:(
    // font-family: "Playfair Display",
    // second-family: "Ubuntu",
// );
// $colors: (
    // color-main: #626262,
    // color-second: #7d7d7d,
    // color-third: #b4ad9e,
    // color-hover: #03a9f4,
// );
// @function getFont($font){
    // @return map-get($fonts, $font);
// }
// 
// @function getColor($color){
    // @return map-get($colors, $color);
// }