body {
    font-family: var(--font-family);
    font-size: 14px;
    color: var(--color-main);
    background-color: #fff;
}
// p{
    // max-width: 100%;
// }
a{
    text-decoration: none;
    color: grey;
    opacity: 50%;
    font-size:x-small;
}
ul{
    list-style: none;
}
button{
    opacity: 80%;
    font-size: large;
    padding: 20px;
    background-color: white;
    border: 1px rgb(70, 70, 70) solid;
    font-family:'Times New Roman', Times, serif
}
